{% extends 'MusicStationSiteBundle::layout.html.twig' %}

{% block main %}

    <h1>Artists</h1>

    <br><br>

    <ul id="artists">
        {% for entity in entities %}
            <li>
                <a class="entity" href="{{ path('artist_show', {slug: entity.slug}) }}">
                    <img src="{{ asset('images/'~entity.image) }}">
                    {{ entity.name }}
                </a>
            </li>
        {% endfor %}
    </ul>

{% endblock %}