{{ form_start(delete_form) }}

    <button type="submit" class="btn btn-mini" onclick="return confirm('Are you sure?');">
        <i class="icon-trash"></i> delete
    </button>

    {{ form_rest(delete_form) }}
{{ form_end(delete_form) }}