{% extends 'MusicStationSiteBundle::layout.html.twig' %}

{% block container %}

    <div class="span12">
        {{ form_start(form, {'attr': {'class': 'form-horizontal', 'novalidate': 'novalidate'}}) }}

            <fieldset>
                <legend>{{ (entity.id) ? 'Shout edit' : 'Shout creation' }}</legend>

                <div class="control-group {{ (form_errors(form.message)) ? 'error':'' }}">
                    {{ form_label(form.message, null, {'label_attr': {'class': 'control-label'}}) }}
                    <div class="controls">
                        {{ form_widget(form.message) }}
                        {% if form_errors(form.message) %}
                            <br>
                            <span class="help-inline">{{ form_errors(form.message) }}</span>
                        {% endif %}
                    </div>
                </div>

                <div class="form-actions">
                    <button type="submit" class="btn btn-primary">Save</button>
                    <a href="{{ path('user_shout') }}" class="btn">
                        Back to the list
                    </a>
                </div>
            </fieldset>

            {{ form_rest(form) }}
        </form>
    </div>

{% endblock %}