{% extends 'MusicStationSiteBundle::layout.html.twig' %}

{% block container %}

    <div class="span12">

        <a href="{{ path('user_shout_new') }}" class="btn btn-mini pull-right">
            <i class="icon-plus-sign"></i> Create a new shout
        </a>

        <h1>Shouts</h1>


        <table class="records_list table">
            <thead>
                <tr>
                    <th>Message</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for entity in entities %}
                    <tr>
                        <td><a href="{{ path('user_shout_edit', { 'id': entity.id }) }}">{{ entity.message }}</a></td>
                        <td>
                            <a href="{{ path('user_shout_edit', { 'id': entity.id }) }}" class="btn btn-mini">
                                <i class="icon-edit"></i> edit
                            </a>
                            {% render controller('MusicStationUserBundle:Shout:_deleteForm', {'id': entity.id}) %}
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>

    </div>

{% endblock %}