{% extends 'MusicStationSiteBundle::layout.html.twig' %}

{% block main %}

    <h1>Event</h1>

    <div class="box-event">
        <a class="artist" href="{{ path('artist_show', {slug: entity.artist.slug}) }}">
            <img src="{{ asset('images/'~entity.artist.image) }}">
            {{ entity.artist.name }}
        </a>

        <p>
            <i>{{ entity.title }}</i>
        </p>

        <br><br>

        <p>
            <span>Location:</span> {{ entity.location }}
        </p>
        <p>
            <span>Start date:</span> {{ entity.startDate|date('d/m/Y, H:i') }}
        </p>
        <p>
            <span>End date:</span> {{ entity.endDate|date('d/m/Y, H:i') }}
        </p>
    </div>

{% endblock %}