{% extends 'MusicStationSiteBundle::layout.html.twig' %}

{% block container %}

    <div class="span10 offset1">

        <form action="{{ path('fos_user_profile_edit') }}" {{ form_enctype(form) }} method="POST" class="fos_user_profile_edit" novalidate>

            <div class="row">
                <div class="span5">
                    <h2>Profile</h2>

                    {{ form_row(form.username) }}
                    {{ form_row(form.email) }}
                    {{ form_row(form.current_password) }}
                </div>
                <div class="span5">
                    <h2>Artist</h2>

                    {{ form_row(form.artist.name) }}
                    {{ form_row(form.artist.image) }}
                    {{ form_row(form.artist.bio) }}
                </div>
            </div>



            <div>
                <input type="submit" value="{{ 'profile.edit.submit'|trans({}, 'FOSUserBundle') }}" class="btn" />
            </div>

            {{ form_rest(form) }}
        </form>

    </div>

{% endblock %}