{% extends 'MusicStationSiteBundle::layout.html.twig' %}

{% block container %}

    <div class="span12">
        <h1>About MusicStation</h1>

        <br><br>

        <p>
            MusicStation is a demo application built with Symfony2.
            <br><br>
            More info at <a href="http://traintosymfony.com" target=_new">http://traintosymfony.com</a>
        </p>
    </div>
    
{% endblock %}