{% extends 'MusicStationSiteBundle::layout.html.twig' %}

{% block main %}

    <h1>Shout</h1>

    <div class="box-shout">
        <a class="artist" href="{{ path('artist_show', {slug: entity.artist.slug}) }}">
            <img src="{{ asset('images/'~entity.artist.image) }}">
            <span class="created">
                {{ entity.created|date('Y-m-d H:m:i') }}
            </span>
        </a>

        <p class="message">
            {{ entity.message }}
        </p>
    </div>

    <div id="shout-prev-next">

        {% if shout_prev %}
            <a href="{{ path('shout_show', {id: shout_prev.id}) }}" class="prev">
                <i class="icon-chevron-left"></i>
                <div class="content">
                    <img src="{{ asset('images/'~shout_prev.artist.image) }}">
                    <span class="created">
                        {{ shout_prev.created|date('Y-m-d H:m:i') }}
                    </span>
                    <br>
                    {{ shout_prev.message }}
                </div>
            </a>
        {% endif %}

        {% if shout_next %}
            <a href="{{ path('shout_show', {id: shout_next.id}) }}" class="next">
                <div class="content">
                    <img src="{{ asset('images/'~shout_next.artist.image) }}">
                    <span class="created">
                        {{ shout_next.created|date('Y-m-d H:m:i') }}
                    </span>
                    <br>
                    {{ shout_next.message }}
                </div>
                <i class="icon-chevron-right"></i>
            </a>
        {% endif %}

    </div>

{% endblock %}